<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />

    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>

    <header id="header">
        <div class="inner">
                                <a href="{{ base_url }}"><img src="http://www.cultura.gob.mx/images/logo-secretaria-cultura.gif" alt="Secretaría de Cultura"/></a>
        </div>
        <div class="inner clearfix">



            <h1><a href="{{ "index"|link }}" id="logo"><span style="font-family: Palatino; font-variant: small-caps; color:#61666B; font-size: 18px;">{{ site_title }}</span></a></h1>
            <nav>
                <a href="#" class="menu-icon"></a>
                <ul>
                    {% for page in pages if page.title %}
                        <li{% if page.id == current_page.id %} class="active"{% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>

    <section id="content">
        <div class="inner">
            {{ content }}
        </div>
    </section>

    <footer id="footer">
        <div class="inner">
            <div class="infoBase"> ALGUNOS DERECHOS RESERVADOS &copy; 2016 -
            <a href="http://www.conaculta.gob.mx/politicas_privacidad">POL&Iacute;TICAS DE PRIVACIDAD</a>
            </div>
            <div class="baseBrand">
            
         
            <div id="logo_conaculta_pie"><img src="http://www.conaculta.gob.mx/images/logotipo_secretaria_cultura_sm_v.png" alt="logo Conaculta pie" width="340px"  />
                            </div>
            
            <div style="clear: both; width: 100%;"></div>
            
             
        </div><div class="infoDir">
            <p>Av. Paseo de la Reforma 175 piso 11, Col. Cuauht&eacute;moc, Del. Cuauht&eacute;moc. C.P. 06500, M&eacute;xico D.F. Tel. (01 55) 41 55 02 00</p>
            <p><a href="mailto:renelopezv@cultura.gob.mx">Comentarios sobre este sitio</a></p>
        </div>

        </div>
    </footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61547886-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1590702821146457',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>
